<%= link_to 'New Post', new_post_path %>
<%= link_to 'New User', new_user_registration_path %>
<%= link_to 'Sign In', new_user_session_path %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

<% @users.each do |user| %>
    <div class="user">
    <div class="profile-image">
    <img src="<%=user.photo %>" alt="profile">
    </div>
    <%= link_to("/users/#{user.id}") do%>
    <div class="profile-link">
    <h2><%= user.name %></h2>
    <p>
    <% if user.posts_counter == 1 %>
        <%= user.posts_counter %> post
    </h3>
    <% elsif user.posts_counter == 0 %>
        no posts
    </h3>

    <% else %>
        <%= user.posts_counter %> posts  
    </h3> </p>
    <% end %>
    </div>
    
    <% end %>
    
    </div>
<% end %>
