<% @posts.each_with_index do |post, index| %>
    <%= link_to post.title, post_path(post) %>
    <p><%= post.text %></p>
    <p><%= post.comments_counter %> Comment
    <%= post.likes_counter %> Like 
    </p>
    <% post.comments.each do |comment|%>
    <p><%= comment.user.name %></p>
    <p><%= comment.text %></p>
    <% end %>
    <p>By: <%= post.user.name %> </p>
    <p><%= link_to 'Read more...', post_path(post) %></p>

    <hr>
<% end %>

