<p>Post By: <%= @post.user.name %>
<%= @post.comments_counter %> Comment
<%= @post.likes_counter %> Like 
</p>
<h3><%= @post.title %></h3>
<p><%= @post.text %></p>

<h3>Comments</h3>
 <hr>
    
 <% @post.comments.each do |comment|%>
 <p><%= comment.user.name %>: <%= comment.text %></p>
 <hr>

 <% end %>

